body {
    background-image: url("../img/bg.png");
    background-color: #ac2025;

     /* Full height */
     height: 100%; 

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }

#navigation, .navbar .navbar-default{
    background: linear-gradient(to right,#842e6b,#ee2224,#f36d21,#f8d21a); 
    border-color: rgba(255,255,255,0);
    border-radius: 0;    
    font-size: 1.5em;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: white;
    background-color: transparent;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4); 
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: transparent;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4); 
}

@media only screen and (min-width : 768px) {
    
    #navigation, .navbar .navbar-default{
        background-image: url("../img/navbar.png");
        border: none;
        border-radius: 0; 
        width: 100%;
        height: 62px;
        color: white;
        background-position: right;
        background-repeat: no-repeat;
        /* background-size: cover; */
    }

    #tagline{
        position: absolute;
        margin-bottom: 0;
        text-align: center;
        color: #fff;
        font-weight: bolder;
        font-size: 1.75em;
        left: 50%;
        bottom: 46%;
        transform: translate(-50%, 50%);
        transition: 0.3s  
    }
    
    #tagline:hover{
        text-decoration: none;
        text-shadow: 0 0 3px #FFFFFF;
    }

    #banner{
        display: none;
    }
    
}

#tagline{
    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: 1.75em;
}

@media only screen and (max-width : 768px) {
    #product{
        display: none;
    }
    #tagline{
        position: absolute;
        margin-bottom: 0;
        text-align: center;
        color: #fff;
        font-weight: bolder;
        font-size: 1.5em;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        transition: 0.3s  
    }
    
    #tagline:hover{
        text-decoration: none;
        text-shadow: 0 0 3px #FFFFFF;
    }
}


#main{
    position: relative;
    width: 100%;
    padding: 30px;
    /* height: 500px; */
    background-color: rgba(255, 255, 255, .4);
    border-radius: 10px;
    border: 10px  solid rgba(255, 0, 0, .6);
}


.cuadro_intro_hover{
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 300px;
}
.cuadro_intro_hover:hover .caption{
    opacity: 1;
    transform: translateY(-250px);
    -webkit-transform:translateY(-250px);
    -moz-transform:translateY(-250px);
    -ms-transform:translateY(-250px);
    -o-transform:translateY(-250px);
}
.cuadro_intro_hover img{
    z-index: 4;
}
.cuadro_intro_hover .caption{
    position: absolute;
    top: 250px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    width: 100%;
}
.cuadro_intro_hover .blur{
    background-color: rgba(0,0,0,0.7);
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
}
.cuadro_intro_hover .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    top:-20px;
    width: 100%;
}

.gap{
    margin-bottom: 25px;
}


